@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.input {
  @apply w-full border px-3 py-2 rounded-md focus:outline-none focus:ring focus:border-blue-400;
}

html,
body {
  overflow-x: hidden;
}
